<div id="motion_program_opt" class="h-100 bg-white container overflow-auto">
    <div class="row mb-3 mt-1">
        <div class="col-sm-10 mx-auto">
<b-card border-variant="dark" style="display:inline-block; padding: 0.25rem;" no-body>Optimization Operation: 
    <b-form-radio-group id="mp-opt-operation" v-model="op_selected" name="mop-opt-selected-radio" buttons button-variant="dark">
        <b-form-radio value="redundancy_resolution">Redundancy Resolution</b-form-radio>
        <b-form-radio value="motion_program_generation">Motion Program Generation</b-form-radio>
        <b-form-radio value="motion_program_optimization">Motion Program Optimization</b-form-radio>
    </b-form-radio-group>
</b-card>

<div v-show="op_selected === 'redundancy_resolution'">
    <h2>Redundancy Resolution</h2>
<h3>Input Data</h3>

<motion-program-opt-panel-input-data-component ref="redundancy_resolution_curve_file"
    name="redundancy_resolution_curve_file" 
    title="Curve File" subtitle="Curve data table in x,y,z,i,j,k format">

</motion-program-opt-panel-input-data-component>

<h3>Input Parameters</h3>
<b-card title="Output Variables" sub-title="Output global variable names to store results" border-variant="dark" 
style="padding: 0.25rem;"
class="mt-2">
<b-form-group label="Curve JS Result" label-cols-md="3">
    <b-form-input v-model="redundancy_resolution_curve_js_output_variable"></b-form-input>
</b-form-group>
</b-card>
<h3>Execution</h3>
<b-card title="Run Algorithm" border-variant="dark" 
style="padding: 0.25rem;"
class="mt-2">
<div v-show="redundancy_resolution_running"><div class="spinner-border" role="status">
    <span class="sr-only">Running...</span>
</div> &nbsp; &nbsp; <span class="display-6">Running...</span> &nbsp;&nbsp; <b-button variant="danger" @click="abort"><i class="fa fa-stop"></i> Abort</b-button></div>
<div v-show="redundancy_resolution_done">
</b-card>
<div v-show="redundancy_resolution_results_show">
    <div v-show="redundancy_resolution_results_plots_show">
        <h3>Results Plots</h3>
        <div id="redundancy_resolution_results_plots_container"></div>
    </div>
    <div>
        <h3>Log</h3>
        <div id="redundancy_resolution_results_plots_container"></div>
    </div>
</div>


</div>
<div v-show="op_selected === 'motion_program_generation'">
    <h2>Motion Program Generation</h2>
</div>
<div v-show="op_selected === 'motion_program_optimization'">
    <h2>Motion Program Optimization</h2>
</div>
</div>
</div>
</div>