<div>
<h2>Motion Program Execution</h2>

<h3>Input Parameters</h3>
<b-card title="Input Parameters" sub-title="Motion program execution input parameters" border-variant="dark" 
style="padding: 0.25rem;"
class="mt-2">
<b-form-group label="Robot" label-cols-md="3">
    <b-form-input v-model="robot_mp_local_device_name" id ="mp_opt_motion_program_exec_robot_local_device_name"></b-form-input>
</b-form-group>
<b-form-group label="Motion Program Variable" label-cols-md="3">
    <b-form-input v-model="motion_program_global_name" id ="mp_opt_motion_program_exec_motion_program"></b-form-input>
</b-form-group>
<b-form-group label="Nominal Curve" label-cols-md="3">
    <b-form-input v-model="nominal_curve_global_name" id ="mp_opt_motion_program_exec_nominal_curve"></b-form-input>
</b-form-group>
</b-card>
<b-card title="Output Variables" sub-title="Output global variable names to store results" border-variant="dark" 
style="padding: 0.25rem;"
class="mt-2">
<b-form-group label="Joint Log Save" label-cols-md="3">
    <b-form-input v-model="joint_log_global_name" id ="mp_opt_motion_program_exec_joint_log_global_name"></b-form-input>
</b-form-group>
<b-form-group label="Plots Save" label-cols-md="3">
    <b-form-input v-model="plots_global_name" id ="mp_opt_motion_program_exec_plots_global_name"></b-form-input>
</b-form-group>
</b-card>
<h3>Execution</h3>
<motion-program-opt-panel-execution-component
@run="run()" @abort="abort()" @reset="reset()" :state="execution_state"/>

<h3>Log</h3>
<div style="height:400px">
<motion-program-opt-panel-log-component ref="motion_program_exec_log"/>
</div>
 
<div v-if="plots.length">
<h3>Results Plots</h3>
<div v-for="plot in plots" v-bind:key="plot.plot_name">
    <h4 class="text-center">{{ plot.plot_name }}</h4>
    <img :src="plot.plot_data_url"/>
</div>
</div>

</div>